---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Home" routeName="Home">
    <div id="Home" class="fbox-center f-grow1">
        <div id="box">
            <div class="font-script-en">Azalea's</div>
            <div class="font-script-en bold">Road Less Traveled</div>
        </div>
    </div>
</Layout>

<style lang="sass">
#box
    font-size: 3em

#Home
    text-align: left
</style>
