---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="我做的" routeName="Projects" navBookmark="Others">
    <div id="Projects" class="general-page">
        <div class="title">
            <h2>我做的</h2>
            <div class="subtitle">一些有趣的小项目</div>
        </div>
        <p>这里还在施工中...</p>
    </div>
</Layout>
